

.form_title{
    margin: 0px;
    color: rgb(61, 61, 61);
    font-size: 22px;
    margin-bottom: 20px;
}

.form_header{
    margin-bottom: 30px;
}

.form_body,
.form_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form_header div{
    cursor: pointer;
    position: relative;
}

.form_header div h5{
    margin: 0px;
    width: 100%;
    justify-content: center;
    color: rgb(59, 59, 59);
    align-items: center;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 12px;
    position: absolute;
}

.form_header div h5 svg{
    font-size: 25px;
    margin-left: 10px;
}

.form_header div span{
    width: 100%;
    background: white;
    bottom: -220%;
    transition: .3s;
    z-index: 10;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 3px rgb(228, 228, 228);
    position: absolute;
    border-radius: 10px;
}

.form_header div span p{
    font-size: 15px;
    margin: 15px 0;
}

.form_header div,
.form_header input{
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
}

.form_body div{
    position: relative;
}

.form_body input{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
}

.form_header input:hover,
.form_body input:hover{
    border: 1px solid #E62B25 !important;
}

.form_header input:focus,
.form_body input:focus{
    border: 2px solid #E62B25 !important;
}

.form_body div svg:nth-child(1){
    position: absolute;
    z-index: 5;
    top: 17px;
    color: #F99B1C;
    font-size: 15px;
    left: 15px;
}

.form_body div svg:nth-child(2){
    position: absolute;
    z-index: 5;
    top: 17px;
    color: red;
    font-size: 20px;
    left: 45px;
}

#search_input{
    padding-left: 70px;
}

.form_input_full{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
}

.form_input_half{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
}

.form_footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form_footer div{
    background: #E62B25;
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    padding: 13px 0;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    color: white;
    margin-bottom: 20px;
}

.form_footer span{
    width: 31%;
    font-size: 11px;
    margin: 0 10px;
}

.form_footer span svg{
    margin-right: 5px;
}

.form_footer div:nth-child(2){
    background: none;
    border: 1px solid rgb(211, 211, 211);
    color: grey;
}

.search_wrapper{
    border-radius: 10px;
    width: 100%;
    position: absolute;
    height: 150px;
    z-index: 10;
    bottom: 12% !important;
    background: white;
    overflow-y: scroll;
    box-shadow: 0px 0px 3px 3px rgb(228, 228, 228);
}

.search_wrapper::-webkit-scrollbar{
    width: 10px;
    background: none;
}

.search_wrapper::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
}

.search_wrapper h1{
    display: flex;
    height: 100%;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    margin: 0px;
    color: rgb(63, 63, 63);
}

.search_wrapper p{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    padding-left: 15px;
    cursor: pointer;
}

.search_wrapper p:hover{
    background: rgb(236, 236, 236);
}

.input_wrapper_half{
    width: 48%;
}

.input_wrapper_full{
    width: 100%;
}

.input_wrapper_full svg,
.input_wrapper_half svg{
    position: absolute !important;
    color: #F99B1C !important;
    font-size: 10px !important;
    top: 22px !important;
    left: 20px !important;
}

.input_wrapper_half input,
.input_wrapper_full_alt input,
.input_wrapper_full input{
    padding-left: 35px;
}

.input_wrapper_full_alt{
    width: 100%;
}

.input_wrapper_full_alt svg{
    color: red !important;
    position: absolute !important;
    font-size: 13px !important;
    top: 22px !important;
    left: 20px !important;
}

.form_label{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.form_label input{
    margin-right: 10px;
}

.form_document{
    display: block;
    border: 1px dotted grey;
    width: 100%;
    height: 60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 20px;
}

.form_document h3{
    height: 100%;
    width: 100%;
    display: flex;
    left: 0;
    margin: 0px;
    top: 0;
    align-items: center;
    color: red;
    background: white;
    justify-content: center;
    position: absolute;
    font-size: 17px;
    font-weight: 500;
}

.form_document h3 h4{
    margin: 0px;
    font-weight: 500;
    color: black;
}

.form_document h3 span{
    color: rgb(218, 218, 218);
    margin: 0 5px;
}

.form_document input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}